body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  background-image: url("../images/cats.jpg");
  /*https://www.reddit.com/r/rickandmorty/comments/cv3uaz/noticed_a_disturbing_lack_of_space_cat_wallpapers/ */
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.page-wrapper {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

h3 {
  color: black;
  font-size: 1.5rem;
  margin: 0;
}

header,
footer {
  background-color: green;
  margin-top: 0;
  text-align: center;
}

footer {
  margin: 0;
  padding: 10px;
  color: white;
}

footer a {
  font-size: 1.2;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 10px;
}

/*Page content styling*/

.main-item a,
.item a,
nav a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.main-item img,
.item img {
  border: 2px solid green;
}

.characters-nav,
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-item a,
.item a,
.item a h3 {
  margin-top: 0;
  padding: 0;
  color: darkblue;
}

.item p {
  margin: 5px 0;
}

img {
  width: 100%;
}

.message,
.main-item,
.item {
  width: 100%;
  max-width: 200px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-top: 10px solid green;
  border-bottom: 20px double green;
  border-left: 5px solid green;
  border-right: 7px double green;
}

.message,
.main-item {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto 20px auto;
}

.alive {
  color: green;
}

.dead {
  color: red;
}

/*Form contact page styling*/

textarea {
  height: 85%;
  min-height: 90px;
  resize: none;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 1rem;
  margin: 20px 0 5px 0;
}

input {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-top: 20px;
}

section.contact-form input.cta {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

/*error and success colours for messages*/

.error {
  color: red;
  font-size: 1rem;
}

.success {
  background-color: green;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  border: none;
}

.success p {
  margin: 0;
}

/*loader css I many have had too much fun and gone a little overboard */
.loader {
  width: 200px;
  height: 250px;
  background-color: #78ff39;
  border-radius: 50%;
  position: relative;
  border-top: 10px #c2ff3b;
  border-bottom: 20px #c2ff3b;
  border-left: 25px #c2ff3b;
  border-right: 7px #c2ff3b;
  border-style: double;
  margin: 0 auto 200px auto;
  animation: colour-change 5s linear infinite;
}

.rotate70,
.rotate30,
.rotate {
  top: 20px;
  border-radius: 60%;
  position: absolute;
  width: 60px;
  height: 70px;
  border-top: 10px #009600;
  border-bottom: 20px #009600;
  border-left: 25px #009600;
  border-right: 7px #009600;
  border-style: double;
  box-shadow: 5px 5px 20px #009600;
  animation: spin-clockwise 5s linear infinite;
}

.rotate {
  width: 160px;
  height: 180px;
  border-top: 10px #009600;
  border-bottom: 27px #009600;
  border-left: 5px #009600;
  border-right: 20px #009600;
  border-style: double;
}

.rotate30 {
  width: 100px;
  height: 115px;
  top: 55px;
  left: 40px;
  border-color: #c2ff3b;
  animation: spin-counter-clockwise 5s linear infinite;
}

.rotate70 {
  top: 90px;
  left: 80px;
  width: 30px;
  height: 45px;
}

.loader-cat {
  position: absolute;
  width: 100px;
  animation: crazy-spin 5s linear infinite;
}

@keyframes crazy-spin {
  0% {
    rotate: 0deg;
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
  }
  25% {
    top: 100px;
    left: 50px;
  }
  50% {
    filter: hue-rotate(-80deg);
    top: 150px;
    left: 40px;
  }
  75% {
    top: 120px;
    left: 80px;
  }
  100% {
    rotate: 360deg;
    filter: hue-rotate(0deg);
    top: 0px;
    left: 0px;
  }
}

@keyframes spin-clockwise {
  0% {
    rotate: 0deg;
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-80deg);
  }
  100% {
    rotate: 360deg;
    filter: hue-rotate(0deg);
  }
}

@keyframes spin-counter-clockwise {
  0% {
    rotate: 0deg;
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(80deg);
  }
  100% {
    rotate: -360deg;
    filter: hue-rotate(0deg);
  }
}

@keyframes colour-change {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.loader::after {
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  text-align: center;
  content: "Loading....... Opening a portal to the characters";
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*Button on index*/
.characters-nav {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.page-number,
.button {
  padding: 10px;
  background-color: green;
  border: 1px solid #c2ff3b;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 5px;
}

.page-number {
  background-color: #82ad26;
  text-shadow: 2px 2px #009600;
  border-color: #009600;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 700px) {
  body {
    background-repeat: repeat;
    background-size: auto;
  }
}
