body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  background-image: url("../images/cats.jpg");
  /*https://www.reddit.com/r/rickandmorty/comments/cv3uaz/noticed_a_disturbing_lack_of_space_cat_wallpapers/ */
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

h3 {
  color: black;
  font-size: 1.5rem;
  margin: 0;
}

header,
footer {
  background-color: green;
  margin-top: 0;
}

footer {
  margin: 0;
  text-align: center;
  padding: 10px;
  color: white;
}

footer a {
  font-size: 1.2;
  color: white;
}

ul {
  margin: 0;
}

li {
  display: inline-block;
  margin: 10px;
}

.main-item a,
.item a,
nav a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.characters,
.locations,
.episodes {
  display: flex;
  flex-wrap: wrap;
}

.main-item a,
.item a {
  padding: 0;
  color: darkblue;
}

img {
  width: 100%;
}

.message,
.main-item,
.item {
  width: 100%;
  max-width: 200px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.message,
.main-item {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.alive {
  color: green;
}

.dead {
  color: red;
}

textarea {
  height: 85%;
  min-height: 150px;
  resize: none;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  margin: 20px 0 5px 0;
}

input {
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-top: 20px;
}

section.contact-form input.cta {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  width: 100%;
}

.error {
  color: red;
  font-size: 1rem;
}

.success {
  background-color: green;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
